.pet_home_header {
  margin-bottom: 2em;
}

.pet_home_header h1 {
  margin-bottom: 0.3em;
}

.pet_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.noPetsAvailable {
  text-align: center;
}
